<meta charset="utf-8">
   <meta name="generator" content="GitLab Pages">
   <title>Plain HTML site using GitLab Pages</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>

   <h1>404</h1>
   <h2>We'll be back soon ...</h2>
  
 </body>
</html>
