body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: black;
}

h1 {
  font-weight: 40px;
  font-size: 160px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Georgia, serif;
  font-weight: 20px;
  font-size: 80px;
  color: white;
  text-align: center;
}
